form {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
}

.error {
  color: red;
  font-size: 14px;
}

button {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
}
